<script type="text/template" id="groupsList">
    <div class="page-header">
        <h1>UI for translation editing
            <small>on "MOCA"-projects</small>
        </h1>
    </div>

    <ul class="list-group">
        <li class="dropdown-header">Available next namespaces:</li>
        <% groups.forEach(function(/*GroupModel.defaults*/model){ %>
        <li class="list-group-item" data-id="<%=model.id%>">
            <a href="/#group/<%= model.id %>/en"><%= model.name %></a>
            <a href="/#get/<%=model.id%>" class="download-link"><i
                        class="glyphicon glyphicon-download"></i> download</a>
            <a class="delete-group-link"><i class="glyphicon glyphicon-remove-sign"></i>Delete</a>
            <span class="label pull-right <%= (model.is_common ? 'label-info' : 'label-default') %>">
                <%= (model.is_common ? 'Common' : 'Game' ) %>
            </span>
        </li>
        <% }) %>
    </ul>

</script>