<script type="text/x-handlebars-template" id="phrasesLayout">
    <h3>
        Current group (project): "<b><%= group.name %></b>"
        <button id="group-options-toggle" class="btn"><i class="glyphicon glyphicon-cog"></i> Options</button>
    </h3>
    <div id="group-options">
        <button class="btn"><i class="glyphicon glyphicon-download-alt"></i> As Zip</button>
        <button class="btn"><i class="glyphicon glyphicon-import"></i> Load EN template</button>
        <hr/>
        <div class="new-lang-form">
            <h4><i class="glyphicon glyphicon-plus-sign"></i> Add new language</h4>
            <div class="input-group">
                <input type="text" class="form-control" maxlength="2" placeholder="New lang, f.e. 'de'">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" tabindex="-1">
                        <i class="glyphicon glyphicon-plus"></i>Add
                    </button>
                </div>
            </div>
        </div>
        <hr/>
        <div id="group-langs">
            <h4><i class="glyphicon glyphicon-globe"></i> Supported languages for this group:</h4>
            <!-- TODO: need to implement selecting/deselecting all langs
            <div class="checkbox">
                <label> <input type="checkbox"> All</label>
            </div>
            <hr/> -->
            <% if(allLangs.length > 0) {%>
            <% allLangs.forEach(function(langName){ %>
            <div class="form-group">
                <div class="input-group checkbox <%= langName === 'en'? 'disabled': '' %>">
                    <label class="btn">
                        <input data-value="lang-<%=langName.toLowerCase()%>" type="checkbox" <%= langName === 'en'? 'disabled': '' %> > <%=langName.toUpperCase()%>
                    </label>

                    <button type="button" class="btn btn-default" <%= langName === 'en'? 'disabled': '' %>>
                        <i class="glyphicon glyphicon-trash"></i> Remove
                    </button>

                </div>
            </div>
            <%});%>
            <% } %>
        </div>
        <hr/>
        <div id="edit-group-container"></div>
    </div>

    <hr/>
    <ul id="lang-tabs" class="nav nav-tabs">
        <!-- see langTabTpl in PhrasesView.js -->
    </ul>
    <div class="tab-content">
        <br/>
        <!--<div class="btn-toolbar">
            <div class="col-xs-4" ng-hide="rawView">
                <input type="text" class="form-control" ng-model="searchFilter" placeholder="Search...">
            </div>

            <button class="btn btn-primary" ng-click="saveCurrentMessages()"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
            <button class="btn btn-primary"><i class="glyphicon glyphicon-download"></i> Download <%=lang.toUpperCase()%></button>

        </div>-->
    </div>

</script>